<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

<div class="container mt-12">
  <!-- Project Title and Description -->
  <div class="row mb-4 text-center">
    <div class="col-md-12">
      <h1 class="display-4 font-weight-bold">{{project.projectName}}</h1>
      <p class="lead text-muted">{{project.description}}</p>
    </div>
  </div>

  <div class="row">
    <!-- Card for Project Tasks -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Project Tasks</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-responsive-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Task Name</th>
                  <th>Description</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                @for (task of project.tasks; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>
                      <a class="text-black" (click)="viweTaskDetails(task.taskId!)">{{ task.taskName | truncateText:2 }}</a>
                    </td>
                    <td>{{ task.description | truncateText:2 }}</td>
                    <td>{{ task.dueDate | date:'dd.MM.yyyy' }}</td>
                    <td>
                      <span class="badge" [style.background-color]="(task.status | status).color">
                        {{ (task.status | status).text }}
                      </span>
                    </td>
                    <td>
                      <a class="btn btn-outline-primary btn-sm" (click)="viweTaskDetails(task.taskId!)">
                        <i class="bi bi-eye-fill me-1"></i>
                      </a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Card for Project Documents -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Project Documents</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-responsive-sm">
              <thead>
                <tr>
                  <th>Document Name</th>
                  <th>Uploaded On</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (document of project.documents; track $index) {
                  <tr>
                    <td>{{ document.documentName }}</td>
                    <td>{{ document.uploadedDate | date:'medium' }}</td>
                    <td>
                      <a (click)="downloadDocument(document.documentURL)" class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-download me-1"></i>
                      </a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div *ngIf="project.documents.length === 0" class="text-center">
            <i class="bi bi-file-earmark-excel-fill fs-1 text-muted mb-3"></i>
            <p class="text-muted">No documents available for this project.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Card for Project Teams -->
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Project Teams</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-responsive-sm">
              <thead>
                <tr>
                  <th>Team Name</th>
                  <th>Description</th>
                  <th>Members</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (team of project.teams; track $index) {
                  <tr>
                    <td>{{ team.teamName }}</td>
                    <td>{{ team.description | truncateText:4 }}</td>
                    <td>
                      <div class="avatar-group d-flex">
                        <ng-container *ngFor="let teamMember of team.teamMembers">
                          <div class="avatar-group-item">
                            <img src="../../../assets/TemplateDahboard/images/logo.png" alt class="rounded-circle small-avatar">
                          </div>
                        </ng-container>
                      </div>
                    </td>
                    <td>
                      <a class="btn btn-outline-primary btn-sm" (click)="viewTeamDetails(team.teamId)">
                        <i class="bi bi-eye-fill me-1"></i>
                      </a>
                    </td>
                  </tr>
                }
                @if (project.teams.length === 0) {
                  <tr>
                    <td colspan="4" class="text-center">No teams assigned to this project.</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

