

  @if(teams.length > 0){
<div class="container py-5">
  <div class="row">
    @for (team of teams; track $index) {
      <div class="col-md-4">
        <div class="card" [routerLink]="['/TeamDetails', team.teamId]">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title mb-0">{{ team.teamName|truncateText:4 }}</h5>
              <div class="dropdown">
                <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Edit</a>
                  <a class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
            <p class="card-text mt-2">{{ team.description |truncateText:4 }}</p>
            <div class="d-flex align-items-center">
              @for (teamMember of team.teamMembers.slice(0, 5); track $index) {
                <img src="../../../assets/TemplateDahboard/images/logo.png" class="rounded-circle me-2" alt="Member {{$index+1}}" style="width: 40px; height: 40px;">
              }
              @if(team.teamMembers.length > 5){
                <span class="badge bg-primary rounded-circle ms-3" style="margin-left: 5px;">
                  +{{ team.teamMembers.length - 5 }}
                </span>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
}


