@if(lst) {
  <div class="container mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Main Category ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for (item of lst; track $index) {
          <tr>
            <td>{{item.mainCategoryId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
              <span class="badge @if(item.isDeleted) bg-danger @else bg-success @endif">
                @if(item.isDeleted){
                   Deleted
                }
                @else{ Active }
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
