<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
          <div class="deznav-scroll">
            <div class="main-profile">
              <div class="image-bx">
                <img src="../../../../assets/TemplateDahboard/images/logo.png" alt>
                <a href="javascript:void(0);"><i class="fa fa-cog" aria-hidden="true"></i></a>
              </div>
              <h5 class="name"><span class="font-w400">Hello,</span> Marquez</h5>
            </div>
            
            <ul class="metismenu" id="menu">
              <li class="nav-label first">Main Menu</li>
        
              <!-- Dashboard Section -->
              <li>
                <a [routerLink]="['dashboard']" class="has-arrow ai-icon" aria-expanded="false">
                  <i class="flaticon-144-layout"></i>
                  <span class="nav-text">Dashboard</span>
                </a>
              </li>
        
              <!-- Users Section -->
              <li class="nav-label">Users</li>
              <li>
                <a [routerLink]="['users']" class="has-arrow ai-icon" aria-expanded="false">
                  <i class="fas fa-user"></i>
                  <span class="nav-text">User Manager</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['roles']" class="has-arrow ai-icon" aria-expanded="false">
                  <i class="fas fa-user-tag"></i> <!-- أيقونة الدور -->
                  <span class="nav-text">Roles</span>
                </a>
              </li>
        
              <!-- Tasks Section -->
              <li class="nav-label">Tasks</li>
              <li>
                <a [routerLink]="['tasks']" class="has-arrow ai-icon" aria-expanded="false">
                  <i class="fas fa-tasks"></i>
                  <span class="nav-text">Tasks</span>
                </a>
              </li>
        
              <!-- Teams Section -->
              <li class="nav-label">Teams</li>
              <li>
                <a [routerLink]="['teams']" class="has-arrow ai-icon" aria-expanded="false">
                  <i class="fas fa-users"></i>
                  <span class="nav-text">Teams</span>
                </a>
              </li>
        
              <!-- Projects Section -->
              <li class="nav-label">Projects</li>
              <li>
                <a [routerLink]="['projects']" class="has-arrow ai-icon" aria-expanded="false">
                  <i class="fas fa-project-diagram"></i> <!-- أيقونة المشروع -->
                  <span class="nav-text">Projects</span>
                </a>
              </li>
        
            </ul>
        
            <div class="copyright">
              <p><strong>Zenix Crypto Admin Dashboard</strong> © 2021 All Rights Reserved</p>
              <p class="fs-12">Made with <span class="heart"></span> by DexignZone</p>
            </div>
          </div>
        </div>
        <!--**********************************
                  Sidebar end
              ***********************************-->
        