
  @if (tasks)
  {
    <div class="container mt-4">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (item of tasks; track $index) {
            <tr>
              <td>{{item.taskName}}</td>
              <td>{{item.description}}</td>
              <td>{{item.status}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  }
  @else {
    <h1>Hello world</h1>
  }
