.not-found-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .not-found-container h1 {
    font-size: 3rem;
    color: #ff0000;
  }
  
  .not-found-container p {
    font-size: 1.5rem;
  }
  
  .not-found-container a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .not-found-container a:hover {
    background-color: #0056b3;
  }
  