<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <p>{{ message }}</p>
    <ng-content></ng-content> <!-- للسماح بإضافة محتوى مخصص إذا لزم الأمر -->
  </div>
  <div class="modal-footer">
    @if(showCancelButton){
        <button  type="button" class="btn btn-secondary" (click)="onCancel()" 
        >
  {{ cancelButtonText }}
</button>
    }@else {
        
    }
   
    <button type="button" class="btn btn-primary" (click)="onConfirm()">
      {{ confirmButtonText }}
    </button>
  </div>
  